#searchWrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
#searchBar {
    height: 32px;
    border-radius: 3px;
    border: 3px solid rgb(138, 130, 243);
    padding: 5px 10px;
    font-size: 12px;
    width: 30%;
    display: flex;
}
#coinList{
    display: grid;
    grid-template-columns: 380px 380px 380px;
    padding: 2%;
    margin-left: 5%;
}
.character{
    padding-left: 3%;
    text-align: left;
    margin: 7%;
    width: 300px;
    height: 160px;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 7px;
    display: flex;
    background-color: rgb(138, 130, 243);
    color: white;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
}
#header{
    background-color: rgb(138, 130, 243);
    height: 150px;
}
#heading{
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 35px;
    margin: 0%;
}
#currency-price{
    font-weight: bold;
    font-size: 20px;
}
#currency-name{
    font-size: 27px;
}
.name-price{
    width: 65%;
}
.rank{
    width: 35%;
    text-align: center;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
}
#alert-message{
    color: red;
    text-align: center;
    display: none;
}
#btn-refresh{
    background-color: rgb(32, 221, 32);
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#btn-refresh:hover{
    background-color: green;
}
@media (max-width: 860px){
    #coinList{
        grid-template-columns: 100%;
    }
}
@media (min-width: 861px) and (max-width: 1220px){
    #coinList{
        grid-template-columns: 50% 50%;
    }
}
